@mixin line-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
}

@mixin line-style {
    div {
        background: greenyellow;
        height: 100%;
        width: 2px;
        opacity: 0.4;
    }   
}

.grid-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;

    &.hide {
        display: none;
    }

    .vertical {
        @include line-container();
        @include line-style();
    }

    .horizontal {
        @include line-container();
        // Cheeky hack here...
        transform: rotate(90deg);
        @include line-style();
    }    
}