.column-input {
    position: relative;
    font-family: sans-serif;
    background: #DDDDDD;
    margin-left: 20px;
    padding-left: 10px;
    border-radius: 5px;
    
    input {
        position: relative;
        top: 0px;
        left: 0px;
        padding: 7px;
        border: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
