.grid-toggle {
    position: relative;
    font-family: sans-serif;
    margin-left: 20px;
    padding: 5px;

    label {
        position: relative;
        top: -2px;
    }

    input {
        position: relative;
        top: 3px;
    }
}