.grid-controls {
    background: #EEEEEE;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0px;
    box-sizing: border-box;
    font-size: 12px;

    input {
        margin-left: 10px;
    }
}