/* Not sure if body styles should be here, but... */

body {
    margin: 0;
    padding: 0;
    background: #EEEEEE;
}

.app {
    display: flex;
    justify-content: center;
    transform: scale(0.8);
    transform-origin: top center;
}